/*PAGE SETUP*/
* {
	box-sizing: border-box;
	font-family: 'Dosis', sans-serif;
	margin: 0;
	padding: 0;
}
html, body {
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,1);
	color: #222222;
}
.container {
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
}
.gradient, .gradient p {
	background-image: -webkit-linear-gradient(left, #CA0E8D,#BE138E,#EB008C,#91268F,
		#E0058C,#D40A8D,#A71D8E,#B3188E,#9C218F,#93278F);
	-webkit-background-clip: text;
	color: transparent;
}

.bio-box .name, .icon-box, .short-bio{
	opacity: 0;
	transition: all 2s 0s cubic-bezier(0.22, 0.61, 0.36, 1);
}

/*INTRO*/
.alexandra {
	padding: 75px 0 20px;
	margin-left: 5%;
	margin-right: 5%;
}
h1.name {

	opacity: 0;
}
h1.name span {

	display: inline-block;
}
.name {
	letter-spacing: 6px;
	font-size: 32px;
	text-transform: uppercase;
	font-weight: 200;
}

/*A LITTLE ABOUT ME*/
div.short-bio {
	opacity: 0;
	padding: 50px;
	height: 60%;
}
.short-bio p {
	display: block;
	padding: 20px 10px 0;
	font-size: 18px;
	letter-spacing: 2px;
}
.bio-box {
	display: block;
	text-align: center;
	padding: 0 0 150px;
}

/*SOCIAL MEDIA*/
.icon-box {
	display: block;
	width: 100%;
	text-align: center;
	font-size: 32px;
	margin-bottom: 50px;
	padding: 0 25% 0;
}
i.icon.fa {	

	height: 32px;
}
div > a > i {
	display: inline-block;
	margin-bottom: 50px;
}
div > a > i:hover {
	cursor: pointer;
	color: #CA0E8D;
}
a {

	text-decoration: none;
}

/*FOOTER*/
footer {
	font-weight: 300;
	position: absolute;
	bottom: 0;
	left: 0;
	letter-spacing: 5px;
	width: 100%;
	padding-top: 20px;
    padding-bottom: 20px;
}
.footer-inner {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    float: none;
    clear: both;
    font-size: 11px;
    text-align: center;
    vertical-align: middle;
}
.footer-row {
    margin-right: 1%;
    margin-left: 1%;
}

/*AZIZ, LIGHT!!*/
span.rotate i {
	margin-left: 25px;
	margin-right: 25px;
	height: 32px;
	width: 32px;
	transform: rotate(100deg);
	transition: 0.25s 0s all ease-in;
}
span.rotate i:hover {
	/*margin: -10px;*/
	transform: rotate(970deg);
	cursor: pointer;
}
.fa-superpowers {

	color: #CA0E8D;
}
div.close {
	display: block;
	text-align: center;
	cursor: pointer;
	font-size: 48px;
}

/*******For Devices with width of above 1200px*******/
@media (min-width: 1200px) {
	.col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, 
	.col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12{
		float: left;
	}
	.col-xl-1 { width: 8.33%; } 
	.col-xl-2 { width: 16.66%; }
	.col-xl-3 { width: 25%; }
	.col-xl-4 { width: 33.33%; }
	.col-xl-5 { width: 41.66%; }
	.col-xl-6 { width: 50%; }
	.col-xl-7 { width: 58.33%; }
	.col-xl-8 { width: 66.66%; } 
	.col-xl-9 { width: 74.99%; }
	.col-xl-10 { width: 83.33%; }
	.col-xl-11 { width: 91.66%; } 
	.col-xl-12 { width: 100%; }

	div.short-bio.gradient > p:nth-child(3) {
		margin-bottom: 120px;
	}

}
/*******For Devices with width between 1024px-1199px*******/
@media (min-width: 1024px) and (max-width: 1199px){
	.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, 
	.col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12{
		float: left;
	}
	.col-lg-1 { width: 8.33%; } 
	.col-lg-2 { width: 16.66%; }
	.col-lg-3 { width: 25%; }
	.col-lg-4 { width: 33.33%; }
	.col-lg-5 { width: 41.66%; }
	.col-lg-6 { width: 50%; }
	.col-lg-7 { width: 58.33%; }
	.col-lg-8 { width: 66.66%; } 
	.col-lg-9 { width: 74.99%; }
	.col-lg-10 { width: 83.33%; }
	.col-lg-11 { width: 91.66%; } 
	.col-lg-12 { width: 100%; }

	div.short-bio.gradient > p:nth-child(3) {
		margin-bottom: 120px;
	}
}

/*******For Devices with width between 768px-1023px*******/
@media (min-width: 768px) and (max-width: 1023px){
	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, 
	.col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{
		float: left;
	}
	.col-md-1 { width: 8.33%; } 
	.col-md-2 { width: 16.66%; }
	.col-md-3 { width: 25%; }
	.col-md-4 { width: 33.33%; }
	.col-md-5 { width: 41.66%; }
	.col-md-6 { width: 50%; }
	.col-md-7 { width: 58.33%; }
	.col-md-8 { width: 66.66%; } 
	.col-md-9 { width: 74.99%; }
	.col-md-10 { width: 83.33%; }
	.col-md-11 { width: 91.66%; } 
	.col-md-12 { width: 100%; }

	div.short-bio {
		padding: 10px;
	}
	
	div.short-bio.gradient > p:nth-child(3) {
		margin-bottom: 120px;
	}
}

/*******For Devices with width between 480px-767px*******/
@media (min-width: 480px) and (max-width: 767px){
	.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, 
	.col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12{
		float: left;
	}
	.col-sm-1 { width: 8.33%; } 
	.col-sm-2 { width: 16.66%; }
	.col-sm-3 { width: 25%; }
	.col-sm-4 { width: 33.33%; }
	.col-sm-5 { width: 41.66%; }
	.col-sm-6 { width: 50%; }
	.col-sm-7 { width: 58.33%; }
	.col-sm-8 { width: 66.66%; } 
	.col-sm-9 { width: 74.99%; }
	.col-sm-10 { width: 83.33%; }
	.col-sm-11 { width: 91.66%; } 
	.col-sm-12 { width: 100%; }

	span.rotate i:hover {
		transform: none; 
	}
	h1.name span {
		display: block;
	}
	h1.name span:nth-child(1) {
		font-size: 24px;	
	}
	h1.name span:nth-child(3) {
		font-size: 18px;	
	}
	div.short-bio {
		padding: 0;
	}
	div.short-bio.gradient > p:nth-child(3) {
		margin-bottom: 50px;
	}
	footer{
		position: relative;
	}
}

/*******For Devices with width under 479px*******/
@media (max-width: 479px){
	.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, 
	.col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12{
		float: left;
	}
	.col-xs-1 { width: 8.33%; } 
	.col-xs-2 { width: 16.66%; }
	.col-xs-3 { width: 25%; }
	.col-xs-4 { width: 33.33%; }
	.col-xs-5 { width: 41.66%; }
	.col-xs-6 { width: 50%; }
	.col-xs-7 { width: 58.33%; }
	.col-xs-8 { width: 66.66%; } 
	.col-xs-9 { width: 74.99%; }
	.col-xs-10 { width: 83.33%; }
	.col-xs-11 { width: 91.66%; } 
	.col-xs-12 { width: 100%; }

	span.rotate i:hover {
		transform: none; 
	}
	h1.name span {
		display: block;
	}
	h1.name span:nth-child(1) {
		font-size: 24px;	
	}
	h1.name span:nth-child(3) {
		font-size: 18px;	
	}
	div.short-bio {
		padding: 0;
	}
	div.short-bio.gradient > p:nth-child(3) {
		margin-bottom: 50px;
	}
	footer{
		position: relative;
	}
}

