/*******PAGE SETUP*******/
* {
	box-sizing: border-box;
	font-family: 'Josefin Sans', sans-serif;
	margin: 0;
	padding: 0;
}
html, body {
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,1);
}
.container {
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
	text-align: center;
}
.gradient, .gradient p {
	background-image: -webkit-linear-gradient(left, #CA0E8D,#BE138E,#EB008C,#91268F,
		#E0058C,#D40A8D,#A71D8E,#B3188E,#9C218F,#93278F);
	-webkit-background-clip: text;
	color: transparent;
}

.bio-box .name, .short-bio, .contact, .box{
	opacity: 0;
	transition: all 1s 0s cubic-bezier(0.22, 0.61, 0.36, 1);
}

/*******INTRO*******/
.alexandra {
	padding: 30px 0 20px;
	margin-left: 5%;
	margin-right: 5%;
}
h1.name {
	padding-bottom: 20px;
	opacity: 0;
}
h1.name span {

	display: inline-block;
}
.name {
	letter-spacing: 6px;
	font-size: 32px;
	text-transform: uppercase;
	font-weight: 200;
}

/*******A LITTLE ABOUT ME*******/
div.short-bio, div.contact {
	opacity: 0;
	padding: 0 130px 20px;
	height: 60%;
	display: inline-block;
	width: 100%;
}
.short-bio p, .contact p {
	display: block;
	padding: 15px 15px 0;
	font-size: 18px;
	letter-spacing: 2px;
	line-height: 200%;
	text-align: left;
}
.bio-box {
	display: block;
	text-align: center;
	padding: 0 0 2%;
}

/*******SOCIAL MEDIA*******/
.icon-box {
	display: inline-block;
	width: 30%;
	text-align: center;
	font-size: 32px;
}
i.icon.fa {	

	height: 32px;
}
div > a > i {
	color: #93278F;
	display: inline-block;
	margin-bottom: 25px;
}
div > a > i:hover {
	cursor: pointer;
	color: #CA0E8D;
}
a {
	text-decoration: none;
	color: #93278F;
}
.up-left .box-name {
	display: inline-block;
	height: 200px;
	width: 200px;
	float: left;
	border: 6px solid rgba(43,47,54,1);
	background-color: black;
	z-index: 100;
}
/*******FOOTER*******/
footer {
	position: absolute;
	letter-spacing: 3px;
	width: 100%;
	bottom: 0;
}
.footer-inner {
	padding-bottom: 10px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 9px;
    text-align: center;
}
.footer-row {
    margin-right: 1%;
    margin-left: 1%;
}

/*******AZIZ, LIGHT!!*******/
.outer-box {
	display: inline-block;
	width: 100%;
}
.box {
	width: 100px;
	display: inline-block;
	position: relative;
    margin: 0 25% 0;
    opacity: 0;
}
.outside {
	display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
    padding: 20px;
    border-left: 1px solid #CA0E8D;
    border-right: 1px solid #93278F;
    border-top: 1px solid #CA0E8D;
    border-bottom: 1px solid #93278F;
    background-image: 
	    linear-gradient(#CA0E8D, #93278F), 
	    linear-gradient(#CA0E8D, #93278F), 
	    linear-gradient(#CA0E8D, #93278F), 
	    linear-gradient(#CA0E8D, #93278F)
    ;
    background-size: 0px 100%;
    background-repeat: no-repeat;   
}
.outside:nth-child(1) {
	-webkit-border-radius: 40px 3px 0 3px;
}
.outside:nth-child(2) {
	-webkit-border-radius: 3px 40px 3px 0;
}
.outside:nth-child(3) {
	-webkit-border-radius: 3px 0 3px 40px;
}
.outside:nth-child(4) {
	-webkit-border-radius: 0 3px 40px 3px;;
}
.shadow.outside:nth-child(1) {
	box-shadow: -3px -3px 4px rgba(157, 138, 159, 0.2);
}
.shadow.outside:nth-child(2) {
	box-shadow: 3px -3px 4px rgba(157, 138, 159, 0.2);
}
.shadow.outside:nth-child(3) {
	box-shadow: -3px 3px 4px rgba(157, 138, 159, 0.2);
}
.shadow.outside:nth-child(4) {
	box-shadow: 3px 3px 4px rgba(157, 138, 159, 0.2);
}
.outside:nth-child(1):hover, .outside:nth-child(2):hover, .outside:nth-child(3):hover, .outside:nth-child(4):hover{
	cursor: pointer;
}
.inside {
	position: absolute;
    width: 20px;
    height: 20px;
    background-image: 
	    linear-gradient(#CA0E8D, #93278F), 
	    linear-gradient(#CA0E8D, #93278F), 
	    linear-gradient(#CA0E8D, #93278F), 
	    linear-gradient(#CA0E8D, #93278F)
    ;
    background-size: 0px 100%;
    background-repeat: no-repeat;
}
.outside:nth-child(1) .inside{
    bottom: -1px;
    right: -1px;
    border-left: 1px solid #CA0E8D;
    border-right: 1px solid #FFFFFF;
    border-top: 1px solid #93278F;
    border-bottom: 1px solid #FFFFFF;
    -webkit-border-radius: 20px 0 0 0;
}
.outside:nth-child(2) .inside{
    bottom: -1px;
    left: -1px;
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #CA0E8D;
    border-top: 1px solid #93278F;
    border-bottom: 1px solid #FFFFFF;
    -webkit-border-radius: 0 20px 0 0;
}
.outside:nth-child(3) .inside{
    top: -1px;
    right: -1px;
    border-right: 1px solid #FFFFFF;
    border-left: 1px solid #CA0E8D;
    border-bottom: 1px solid #93278F;
    border-top: 1px solid #FFFFFF;
    -webkit-border-radius: 0 0 0 20px;
}
.outside:nth-child(4) .inside{
    top: -1px;
    left: -1px;
    border-right: 1px solid #CA0E8D;
    border-left: 1px solid #FFFFFF;
    border-bottom: 1px solid #93278F;
    border-top: 1px solid #FFFFFF;
    -webkit-border-radius: 0 0 20px 0;
}
/*CENTER CIRCUIT*/
.circle {
    position: absolute;
    margin-left: 30px;
    margin-top: 24px;
    top: 0;
    height: 40px;
    width: 40px;
    border-radius: 50px;
}
div.rotate i {
    height: 40px;
    width: 40px;
    font-size: 27px;
    line-height: 40px;
    display: inline-block;
    transition: 0.25s 0s all ease-in-out;
}
div.rotate i:hover {
	cursor: pointer;
}
div.rotate.turn i {
    transform: rotate(720deg);
}

div.close {
	display: block;
	text-align: center;
	cursor: pointer;
	font-size: 48px;
}

/*******For Devices with width of above 1200px*******/
@media (min-width: 1200px) {
	.col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, 
	.col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12{
		float: left;
	}
	.col-xl-1 { width: 8.33%; } 
	.col-xl-2 { width: 16.66%; }
	.col-xl-3 { width: 25%; }
	.col-xl-4 { width: 33.33%; }
	.col-xl-5 { width: 41.66%; }
	.col-xl-6 { width: 50%; }
	.col-xl-7 { width: 58.33%; }
	.col-xl-8 { width: 66.66%; } 
	.col-xl-9 { width: 74.99%; }
	.col-xl-10 { width: 83.33%; }
	.col-xl-11 { width: 91.66%; } 
	.col-xl-12 { width: 100%; }

}
/*******For Devices with width between 1024px-1199px*******/
@media (min-width: 1024px) and (max-width: 1199px){
	.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, 
	.col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12{
		float: left;
	}
	.col-lg-1 { width: 8.33%; } 
	.col-lg-2 { width: 16.66%; }
	.col-lg-3 { width: 25%; }
	.col-lg-4 { width: 33.33%; }
	.col-lg-5 { width: 41.66%; }
	.col-lg-6 { width: 50%; }
	.col-lg-7 { width: 58.33%; }
	.col-lg-8 { width: 66.66%; } 
	.col-lg-9 { width: 74.99%; }
	.col-lg-10 { width: 83.33%; }
	.col-lg-11 { width: 91.66%; } 
	.col-lg-12 { width: 100%; }
}

/*******For Devices with width between 768px-1023px*******/
@media (min-width: 768px) and (max-width: 1023px){
	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, 
	.col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{
		float: left;
	}
	.col-md-1 { width: 8.33%; } 
	.col-md-2 { width: 16.66%; }
	.col-md-3 { width: 25%; }
	.col-md-4 { width: 33.33%; }
	.col-md-5 { width: 41.66%; }
	.col-md-6 { width: 50%; }
	.col-md-7 { width: 58.33%; }
	.col-md-8 { width: 66.66%; } 
	.col-md-9 { width: 74.99%; }
	.col-md-10 { width: 83.33%; }
	.col-md-11 { width: 91.66%; } 
	.col-md-12 { width: 100%; }

	div.short-bio {
		padding: 10px;
	}
}

/*******For Devices with width between 480px-767px*******/
@media (min-width: 480px) and (max-width: 767px){
	.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, 
	.col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12{
		float: left;
	}
	.col-sm-1 { width: 8.33%; } 
	.col-sm-2 { width: 16.66%; }
	.col-sm-3 { width: 25%; }
	.col-sm-4 { width: 33.33%; }
	.col-sm-5 { width: 41.66%; }
	.col-sm-6 { width: 50%; }
	.col-sm-7 { width: 58.33%; }
	.col-sm-8 { width: 66.66%; } 
	.col-sm-9 { width: 74.99%; }
	.col-sm-10 { width: 83.33%; }
	.col-sm-11 { width: 91.66%; } 
	.col-sm-12 { width: 100%; }

	h1.name span {
		display: block;
	}
	h1.name span:nth-child(1) {
		font-size: 24px;	
	}
	h1.name span:nth-child(2) {
		display: none;	
	}
	h1.name span:nth-child(3) {
		font-size: 18px;	
	}
	div.bio-box {
		padding: 0 0 50px;
	}
	div.short-bio, div.contact {
		padding: 20px;
	}
	div.icon-box {
		padding: 0;
		width: 100%;
	}
	i.icon.fa {
		padding: 10px 0 0 0 ;
	}
	footer{
		position: relative;
	}
}

/*******For Devices with width under 479px*******/
@media (max-width: 479px){
	.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, 
	.col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12{
		float: left;
	}
	.col-xs-1 { width: 8.33%; } 
	.col-xs-2 { width: 16.66%; }
	.col-xs-3 { width: 25%; }
	.col-xs-4 { width: 33.33%; }
	.col-xs-5 { width: 41.66%; }
	.col-xs-6 { width: 50%; }
	.col-xs-7 { width: 58.33%; }
	.col-xs-8 { width: 66.66%; } 
	.col-xs-9 { width: 74.99%; }
	.col-xs-10 { width: 83.33%; }
	.col-xs-11 { width: 91.66%; } 
	.col-xs-12 { width: 100%; }

	h1.name span {
		display: block;
	}
	h1.name span:nth-child(1) {
		font-size: 24px;	
	}
	h1.name span:nth-child(2) {
		display: none;	
	}
	h1.name span:nth-child(3) {
		font-size: 18px;	
	}
	div.bio-box {
		padding: 0 0 50px;
	}
	div.short-bio, div.contact {
		padding: 20px;
	}
	div.icon-box {
		padding: 0;
		width: 100%;
	}
	i.icon.fa {
		padding: 10px 0 0 0 ;
	}
	footer{
		position: relative;
	}
}

